{% extends 'base2.html.twig' %}
{% block body %}
    {{ form_start(form) }}
    <div class="form-group">
        <label for="name">Name:</label>
        {{ form_widget(form.name,{
            'attr':{
                'class':'form-control',
                'placeholder': 'Category Name'
            }
        }) }}
    <input type="submit" name="create_category" value="Create" class="btn btn-primary"/>
    {{ form_end(form) }}
{% endblock %}