{% extends 'base2.html.twig' %}
{% block body %}
	{{ form_start(form) }}
	<div class="row" style="  margin-bottom:2%; margin-top:1.5%; ">

		<div class="d-flex justify-content-center">
			<div class="col-4">
				<img src="https://tinyurl.com/mttp7rus" class="card-img-top" style=" object-fit:cover; height:100%;" alt="...">
			</div>

			<div class="col-5 text-white form-group" style="">
				<div class="bg-dark" style="padding-top:15%;  height:100% ">
					<div class="" style="font-family: 'Bubblegum Sans', cursive; margin-left:24%; font-size:3vw;">
						Add A New Category
					</div>
					<div class="row" style="margin: 4% 10%;">
						<div class="col-12">
							<label style="font-family: 'Bubblegum Sans', cursive; font-size:2vw;" for="name">Name:</label>
							{{ form_widget(form.name,{
                    'attr':{
                        'class':'form-control',
                        'placeholder': 'Category Name'
                    }
                }) }}
						</div>

					</div>
					<div class="d-flex justify-content-around">

						<a href="{{ path('app_home') }}"  class="btn btn-outline-light btn-md" data-bs-toggle="tooltip" data-bs-placement="right" title="Back" style="border-radius:14px; float: left; border: solid 2px white; margin-top: 2%; margin-bottom: 6%;  font-size:2vw; font-family: 'Bubblegum Sans', cursive;" name="back" value="Back">
							Go Back</a>
						<input class="btn btn-outline-light btn-md" data-bs-toggle="tooltip" data-bs-placement="right" title="Click To Add" style=" border-radius:14px; float: right;  margin-top: 2%; margin-bottom: 6%; border: solid 2px white; font-size:2vw; font-family: 'Bubblegum Sans', cursive;" type="submit" name="create_category" value="Create"></input>
				</div>
			</div>

		</div>
	</div>
</div>
{{ form_end(form) }}{% endblock %}
