{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('category_list') }}" class="btn btn-default">Back to Category List</a>
    <hr/>
    <h2 class="page-header">{{ categorys.name }}</h2>
{% endblock %}