body {
    background-color: #ffff;
}


hr {
    justify-content: center;
    border-bottom: 1px solid hsla(0, 0%, 50%, 0.75);
    width: 50%;
  }

a {
    font-family: 'Bubblegum Sans', cursive;
}




  